# Byte-compiled / optimized / DLLs
__pycache__/
*.py[cod]
*$py.class
__pycache__
instance
instance/
database.db

# Distribution / packaging
.egg-info/
.dist/
.build/
docs/_build/
venv
venv/
wvenv
wvenv/

# Local configuration
*.swp
.DS_Store
.idea